# MongoDB URI - Ganti dengan URI MongoDB lokal atau dari Atlas
MONGO_URI=

# Port yang digunakan server backend
PORT=

# Secret key untuk JWT atau sesi (jika digunakan dalam auth)
JWT_SECRET=

# Base URL frontend (jika diperlukan untuk CORS atau redirect)
CLIENT_URL=

# NODE ENV
NODE_ENV=development

CLOUDINARY_CLOUD_NAME=
CLOUDINARY_API_KEY=
CLOUDINARY_API_SECRET=
